h1{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("school-background-with-pencils-5a3b8478d8bde3.5546245115138499768878.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	border-width: 10px;
	background-color: white;
	border-style: ridge;
}
h1{
	font-size: 40px;
}
